<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="1.9.71" targetFramework="net40" />
  <package id="ICSharpCode.SharpZipLib.Patched" version="0.86.4" targetFramework="net40" />
  <package id="p3-sharpcompress" version="0.10.5.2" targetFramework="net40" />
</packages>